doctype html
html(lang='en' dir='')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    title Manage Subscriber
    link(rel='shortcut icon' href='/auth/assets/img/stisla-fill.svg' type='image/x-icon')
    link(href='https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900' rel='stylesheet')
    link(href='/accounts/dist-assets/css/themes/lite-blue.min.css' rel='stylesheet')
    link(href='/accounts/dist-assets/css/plugins/perfect-scrollbar.min.css' rel='stylesheet')
    link(rel="stylesheet", href="/accounts/dist-assets/css/plugins/datatables.min.css" )
    style. 
      #licenses 
      {
        display:none;
        margin-top:20px
      }
  body.text-left
    .app-admin-wrap.layout-sidebar-large
      .main-header
        .logo
         if user.type === 'Administrator'
          img(src=user.company_icon style='width:100px' alt='')
         if user.type ==='Company'
          img(src=user.company_icon style='width:80px' alt='')
       
        .menu-toggle
          div
          div
          div
        .d-flex.align-items-center
          
         
        div(style='margin: auto')
        .header-part-right
          // Full screen toggle
          i.i-Full-Screen.header-icon.d-none.d-sm-inline-block(data-fullscreen='')
          
          
          .dropdown
            .user.col.align-self-end
              
              img#userDropdown(src='/assets/images/avatar.png' alt='' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
              .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
                .dropdown-header
                  i.i-Lock-User.mr-1
                  | #{user.first_name} #{user.last_name}
                
                a.dropdown-item(href='/logout') Sign out
      .side-content-wrap
        

        .sidebar-left.open.rtl-ps-none(data-perfect-scrollbar='' data-suppress-scroll-x='true')
          ul.navigation-left
            li.nav-item
              a.nav-item-hold(href='/company/')
                i.nav-icon.i-Dashboard
                span.nav-text Dashboard
              .triangle
            
            if user.role ==='Administrator' || user.role ==='Finance'
             li.nav-item
              a.nav-item-hold(href='/company/transactions')
                i.nav-icon.i-Financial
                span.nav-text Transactions  
              .triangle
            if user.role ==='Administrator'
             li.nav-item(data-item='customers')
              a.nav-item-hold(href='#')
                i.nav-icon.i-Business-Mens
                span.nav-text Customers
              .triangle
            if user.role === 'Administrator'
             li.nav-item(data-item='catalog')
              a.nav-item-hold(href='#')
                i.nav-icon.i-Belt-3
                span.nav-text Catalog
              .triangle
            
            
            
            if user.role === 'Administrator'
             li.nav-item(data-item='business_accounts')
              a.nav-item-hold(href='#')
                i.nav-icon.i-Dashboard
                span.nav-text Business Accounts
              .triangle
            if user.role ==='Administrator' || user.role ==='Technical'
             li.nav-item(data-item='developer_tools')
               a.nav-item-hold(href='#')
                i.nav-icon.i-Geek
                span.nav-text Developer Tools
               .triangle
            
        .sidebar-left-secondary.rtl-ps-none(data-perfect-scrollbar='' data-suppress-scroll-x='true')
            // Customers
            ul.childNav(data-parent='customers')
              li.nav-item
                a(href='/company/subscribers')
                  i.nav-icon.i-Clock-3
                  span.item-name Subscribers
              
            // Catalog
            ul.childNav(data-parent='catalog')
              li.nav-item
                a(href='/company/products')
                  i.nav-icon.i-Plaxo
                  span.item-name Products
              li.nav-item
                a(href='/company/subscription_plans')
                  i.nav-icon.i-Road-2
                  span.item-name Subscription Plans
              
              li.nav-item
                a(href='/company/coupons')
                  i.nav-icon.i-Tag-4
                  span.item-name Coupons 
              
           
            // Business Accounts
            ul.childNav(data-parent='business_accounts')
              li.nav-item
                a(href='/company/account_settings')
                  i.nav-icon.i-Data-Settings
                  span.item-name Account Setting
              li.nav-item
                a(href='/company/balance_currency')
                  i.nav-icon.i-Circular-Point
                  span.item-name Balance Currency 
              li.nav-item
                a(href='/company/team_members')
                  i.nav-icon.i-Conference
                  span.item-name Team Members
            // Developer Tools
            ul.childNav(data-parent='developer_tools')
              li.nav-item
                a(href='/company/alerts_webhooks')
                  i.nav-icon.i-Clock-3
                  span.item-name Alert & Webhooks
              
        .sidebar-overlay        
            
        
          
          
          
        
      // =============== Left side End ================
      .main-content-wrap.sidenav-open.d-flex.flex-column
        // ============ Body content start =============
        .row 
         .col-md-12 
            .card 
                .card-header 
                      .card-title
                        h4  
                          a(href="/company/subscribers").badge.badge-primary
                            i.i-Left1
                          &nbsp;
                          | Manage Subscriber - #{subscriber.email}
                .card-body
                  .row 
                   .col-md-6 
                    .row 
                     .col-md-12
                       .card 
                        .card-header 
                          .card-title Info 
                        .card-body 
                            p Email: #{subscriber.email} 
                            p Subscribed On: #{subscriber.added_on}
                            p 
                             if subscriber.status === 'Active' 
                              span.badge.badge-success Active 
                             if subscriber.status !== 'Active' 
                              span.badge.badge-danger Inactive 
                             
                    .row(style='margin-top:20px') 
                     .col-md-12 
                        .card 
                          .card-header 
                            .card-title Current Plan 
                          .card-body 
                            .row 
                              .col-md-3
                               img(src=subscriber.subscription_plan.icon,style='width:30%', alt="")
                              .col-md-9(style='text-align:left')
                               
                               i Plan Name: #{subscriber.subscription_plan.plan_name}
                               br
                               each y in subscriber.subscription_plan.currencies 
                            
                                if y.default === 'true'
                                  i #{y.currency} #{y.amount} / #{subscriber.subscription_plan.billing_interval} 
                          
                            
                   .col-md-6 
                    .card 
                     .card-header 
                      .card-title Subscription History
                     .card-body(style='overflow-y:scroll;height:400px') 
                     
                      ul.list-group 
                       each x in subscriber.order 
                        li.list-group-item 
                         i Order No: #{x.order_no}
                         br
                         i Qty: #{x.quantity} 
                         br
                         i Amount: #{x.currency} #{x.amount}
                         br 
                         i Date: #{x.date}
                         br
                         i Time: #{x.time}
                       
        .row(style='margin-top:20px') 
          .col-md-12 
            .card 
              .card-header 
                .card-title Payment Status 
              .card-body 
                 .row 
                   .col-md-6 
                     .card 
                       .card-header 
                        .card-title  
                         h4 
                          i.i-Left1 
                          &nbsp;
                          | Previous Payment
                       .card-body
                        .row 
                          .col-md-12
                            div(style='float:left')
                              i #{subscriber.last_payment[0].currency} #{subscriber.last_payment[0].amount}
                              br 
                              i Qty: #{subscriber.last_payment[0].quantity} | Date: #{subscriber.last_payment[0].date} | Time: #{subscriber.last_payment[0].time}
                              br
                              i License: #{subscriber.last_payment[0].license.license}
                        
                          
                   .col-md-6
                     .card 
                       .card-header
                        .card-title 
                         h4(style='float:right')
                          | Next Payment
                          &nbsp;
                          i.i-Right1 
                       .card-body 
                          i #{subscriber.next_payment[0].currency} #{subscriber.next_payment[0].amount}
                          br 
                          i Qty: Null | Expiry Date: #{subscriber.next_payment[0].expiry_date}
                        
                         

        
                 
  script(src='/accounts/dist-assets/js/plugins/jquery-3.3.1.min.js')
  script(src='/accounts/dist-assets/js/plugins/bootstrap.bundle.min.js')
  script(src='/accounts/dist-assets/js/plugins/perfect-scrollbar.min.js')
  script(src='/accounts/dist-assets/js/scripts/script.min.js')
  script(src='/accounts/dist-assets/js/scripts/sidebar.large.script.min.js')
  script(src='/accounts/dist-assets/js/plugins/datatables.min.js')
  script(src='/accounts/dist-assets/js/scripts/datatables.script.min.js')
  script(src='/accounts/dist-assets/js/scripts/customizer.script.min.js')
  
  // PDF
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js')
  script(type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js')
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/fonts/Roboto/Roboto-Medium.ttf")
  script(type='text/javascript').
        function pdf() {
        html2canvas(document.getElementById('tblLicense'), {
        onrendered: function (canvas) {
            var data = canvas.toDataURL();
            var docDefinition = {
            content: [{
              image: data,
              width: 500
            }]
            };
            pdfMake.createPdf(docDefinition).download("licenses.pdf");
        }
        });
        }
